h1{
    font-family:'Times New Roman', Times, serif;
    font-size: 75px;
    color:#ffe4c4;
    text-shadow: 5px 5px 5px rgb(255,0,0);
    text-align: center;
}
label{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:beige;
    margin-left: 300px;
    
    
}
textarea{
    margin-left: 00px;
    padding-top: 0%;
    }
body{
    background-color: black;
}
